:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bcg-color: #FFFFFF;
    --secondary-bcg-color: #2F303A;
    --secondary-text-color: #FFFFFF;
    --button-bcg-color: #188CE8;
    --auth-footer-color: rgba(255, 255, 255, 0.6);
    --accent-text-color: #FFFFFF;
    --bcg-button-color: #F5F4FA;
}

.page {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-bcg-color);
}

/* header */
.header {
    background-color: #FFFFFF;
}

/* container-head */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    outline: 2px solid blueviolet;
}

.logo-link {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    font-family: Raleway;
    text-decoration: none;
}

.logo-header {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-text-color);
    font-family: Raleway;
    text-decoration: none;
}


.site-nav {

    list-style: none;
}


.site-nav a {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.site-nav a:hover {
    color: var(--accent-color);
}

.site-nav a:focus {
    color: var(--accent-color);
}

.auth-nav {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.auth-nav a {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);

}

.auth-nav a:hover {
    color: var(--accent-color);
}

.auth-nav a:focus {
    color: var(--accent-color);
}

/* Main grey */
.section-grey {
    background-color: var(--secondary-bcg-color);
    text-align: center;
    margin-bottom: 94px;


}

.big-title {
   padding-top: 200px;
    color: var(--secondary-text-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    color: var(--secondary-text-color);
    background-color: var(--button-bcg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 210px;
}

/* Main white */
.list-advantages {
    list-style: none;
    margin-bottom: 94px;
}

.advantages-title {
    color: var(--title-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.advantages-text {
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.list-img {
    list-style: none;
    margin-top: 0;
    margin-bottom: 94px;
    padding-left: 0;
}
.our-team{
    background-color: #F5F4FA;
    padding-top: 94px;
}

.titles {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.list-person {
    list-style: none;
}

.names {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.profession {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

/* Footer */
.logo-footer {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--secondary-text-color);
    font-family: Raleway;
    text-decoration: none;
    
}

.foot {
    background-color: var(--secondary-bcg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.adress a {
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-bottom: 9px;
    display: inline-block;
}
.mail{
    display: inline-block;
    margin-bottom: 9px;
}

.footer-nav {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
}

.auth-footer a {
    color: var(--auth-footer-color);
    text-decoration: none;
}

.auth-footer a:hover {
    color: var(--accent-color);
}

.auth-footer a:hover {
    color: var(--accent-color);
}



/* Port */
.port-page {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background: var(--primary-bcg-color);
    color: var(--primary-text-color);
}

/* Header */
.port-logo-link {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    text-decoration: none;
    font-family: Raleway;
}

.port-logo-header {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-text-color);
    text-decoration: none;
}


.port-site-nav {
    list-style: none;
}

.port-site-nav .port-link.current {
    color: var(--accent-color);
}

.port-site-nav a {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.port-site-nav a:hover {
    color: var(--accent-color);
}

.port-site-nav a:focus {
    color: var(--accent-color);
}

.port-auth-nav {
    list-style: none;
    margin-bottom: 0;
}

.port-auth-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
}

.port-auth-nav a:hover {
    color: var(--accent-color);
}

.port-auth-nav a:focus {
    color: var(--accent-color);
}

/* Main */
/* container body */
.port-list {
    list-style: none;
   margin-bottom: 34px;
   margin-top: 94px;
}
.port-list .port-item{
    padding-bottom: 20px;
}

.port-list .port-items {
    color: var(--title-text-color);
    background-color: var(--bcg-button-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    padding: 6px 22px;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
}

.port-list .port-items:hover {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
}

.port-list .port-items:focus {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
}

.port-list .port-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-top: 20px;
    margin-bottom: 4px;
}

.port-list .port-text {
    font-size: 16px;
    line-height: 1.87;
    margin-top: 0;
    margin-bottom: 0;
}

/* footer */
.port-logo-footer {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--secondary-text-color);
    font-family: Raleway;
    text-decoration: none;
}

.port-foot {
    background-color: #2F303A;
    margin-top: 94px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.port-adress-nav {
    list-style: none;
    font-style: normal;
    line-height: 1.71;
    margin-top: 20px;
    padding-left: 0;
    margin-bottom: 0;
}

.port-adress a {
    color: var(--secondary-text-color);
    text-decoration: none;
}
.port-mail{
    margin-top: 9px;
    margin-bottom: 9px;
    display: inline-block;
}

.port-auth-footer a {
    color: var(--auth-footer-color);
    text-decoration: none;
}

.port-auth-footer a:hover {
    color: var(--accent-color);
}

.port-auth-footer a:hover {
    color: var(--accent-color);
}